@import "bootstrap.min.css";

@tile-scale: 5;

body {
  font-family: sans-serif;
  font-size: 12px;
  min-height: 100%;
  padding-top: 70px;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.field {
  border-collapse: collapse;
  empty-cells: show;
  margin: 20px 0;

  background-image: url(/img/field/grass.png);

  .tile {
    padding: 0;
    background-image: url(/img/field/tiles.png);
    background-repeat: no-repeat;

    &.ground {
      background-position: 0 0;
    }

    &.water {
      background-position: @tile-scale * -16px 0;
    }

    &.forest {
      background-position: @tile-scale * -32px 0;
    }

    &.mountain {
      background-position: @tile-scale * -48px 0;
    }

    &.desert {
      background-position: @tile-scale * -64px 0;
    }

    .sizer {
      width: @tile-scale * 16px;
      height: @tile-scale * 16px;
    }
  }
}
