@import "bootstrap.min.css";
body {
  padding-top: 70px;
}
.welcome {
  text-align: center;
}
.welcome a {
  display: block;
  padding: 50px 0;
  color: black;
}
.friends,
.games {
  margin: 0;
  padding: 0;
  list-style: none;
}
.friends li,
.games li {
  margin: 20px 0;
}
.friends li .picture,
.games li .picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.friends li .play,
.games li .play {
  margin-left: 10px;
}
.timeago {
  font-size: 0.9em;
}
.field {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.sidebar {
  float: left;
  background-color: #eee;
  padding: 10px;
}
.sidebar .end-turn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.sidebar .chat {
  width: 260px;
}
.sidebar .chat .message-input {
  display: block;
}
.sidebar .chat .send-message {
  width: 30%;
}
.sidebar .chat .messages {
  max-height: 500px;
  overflow-y: auto;
}
.sidebar .chat .messages div {
  font-size: 0.9em;
  margin-top: 10px;
}
