@import "bootstrap.min.css";
body {
  padding-top: 70px;
}
.welcome {
  text-align: center;
}
.welcome a {
  display: block;
  padding: 50px 0;
  color: black;
}
.field {
  margin: 20px 0;
  cursor: pointer;
}
