@import "bootstrap.min.css";

body, html {
    font-family: sans-serif;
    font-size: 12px;
    background-image: url(/img/layout/bg.png);
    min-height: 100%;
}

.main {
    background-color: #f5f5f5;
}
