<?php

const DEBUG = true;

const TIME_ZONE = 'UTC';

const DB_PATH = "mysql:host=localhost;dbname=battle";
const DB_USER = "root";
const DB_PASS = "";

const AUTH_GOOGLE_ID = "";
const AUTH_GOOGLE_SECRET = "";

const AUTH_FACEBOOK_ID = "";
const AUTH_FACEBOOK_SECRET = "";
