<div class="row">
	<div class="col-lg-6">
		<div class="jumbotron" ng-controller="LoginCtrl">
			<h2 class="fancy">Existing User:</h2>
			<div class="input-group">
			  <input type="text" class="form-control" ng-model="username" placeholder="Username">
			</div>

			<div class="input-group">
		  	<input type="password" class="form-control" ng-model="password" placeholder="Password">
			</div>

			<div class="input-group">
				<button type="button" class="btn btn-primary" ng-click="login()">Login</button>
			</div>
			<ul>
				<li ng-repeat="name in names">
					{{name}}
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="jumbotron">
			<h2>New User:</h2>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Username">
			</div>

			<div class="input-group">
			  <input type="email" class="form-control" placeholder="Email">
			</div>

			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Password">
			</div>
			<div class="input-group">
				<button type="button" class="btn btn-primary">Register</button>
			</div>
		</div>
	</div>
</div>